<div class="wrapper">
    <div class="page-header header-filter">
        <app-personal-details-form *ngIf="!personalDetails" [isCreate]="true" [experimentMode]="experimentMode" [skipPersonalDetails]="skipPersonalDetails" (personalDetails$)="receivePersonalDetails($event)"></app-personal-details-form>
        <div class="container center-container" *ngIf="giveTheCueTask">
            <div class="content-center brand" [ngClass]="{'content-center-six': isSixCandidates}">
                <div class="label hint guess-clue-hint"
                     [style]="{'background-color': responseBackgroundColor, visibility: responseBackgroundColor ? 'visible' : 'hidden', color: responseTextColor}">
                    {{hint}}
                </div>
                <div class="task-container">
                    <app-task-board class="analogies-board" [giveCueTask]="giveTheCueTask" [enablePointer]="false"
                                    [testMode]="gameMode" [submit]="_submit" [AIRequest]="requestAIResults"
                                    [info]="giveTheCueInfo">
                    </app-task-board>
                    <div class="test-me-container" [ngClass]="{'test-me-container-six': isSixCandidates}">
                        <button class="btn btn-neutral btn-big"
                                [disabled]="qualificationIndex === 1 || inProgress || hitSubmitted"
                                (click)="moveLeft()">
                            <li class="fas fa-arrow-left"></li>
                        </button>
                        <button class="btn btn-neutral btn-big" [ngClass]="{'submitted': _submit}" *ngIf="!allSubmitted"
                                (click)="submit()"> {{this.requestAIResults ? 'Test AI' : 'Enter' }} </button>
                        <button class="btn btn-neutral btn-big" (click)="SubmitHIT()" [disabled]="hitSubmitted"
                                *ngIf="allSubmitted"> {{'Submit HIT'}}</button>
                        <button class="btn btn-neutral btn-big"
                                [disabled]="qualificationIndex === numberOfTasks || !solved || hitSubmitted" (click)="moveRight()">
                            <li class="fas fa-arrow-right"></li>
                        </button>
                    </div>
                    <div class="label hint" [ngClass]="{'no-clue': hint === '' || responseBackgroundColor}">
                        {{hint}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Ron Yosef</a>
            </div>
        </div>
    </footer>
</div>


