<app-navbar [isCollapsed]="isCollapsed"></app-navbar>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container center-container">
            <div class="content-center brand">
                <h4 class="main-label padding-bottom">
                    Leaderboard 🏆
                </h4>
                <div class="leaderboard-container">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col-leaderboard col-1-leaderboard">Rank</div>
                                <div class="col-leaderboard col-2-leaderboard">User</div>
                                <div class="col-leaderboard col-3-leaderboard">Fool The AI</div>
                                <div class="col-leaderboard col-4-leaderboard">Solvable by Humans</div>
                                <div class="col-leaderboard col-5-leaderboard">Number of Associations Solved</div>
                            </li>
                            <li class="table-row">
                                <div class="col-leaderboard col-1-leaderboard" data-label="Rank">2</div>
                                <div class="col-leaderboard col-2-leaderboard" data-label="User">John Doe</div>
                                <div class="col-leaderboard col-3-leaderboard" data-label="Fool the AI">90</div>
                                <div class="col-leaderboard col-4-leaderboard" data-label="Solvable by Humans">90</div>
                                <div class="col-leaderboard col-5-leaderboard" data-label="Number of Associations Solved">90</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Ron Yosef</a>
            </div>
        </div>
    </footer>
</div>