.navbar-brand {
 font-size: 1.3rem;
}

.navbar-toggler {
 background-color: #fda1ab;
}

@media (max-width: 750px) {
 .title-description {
   display: none;
 }
}

@media (max-width: 1180px) {

}

@media (min-width: 990px) {
  ::ng-deep li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

