<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container center-container" *ngIf="geussTheAssociationsTask">
            <div class="content-center brand" [ngClass]="{'content-center-six': isSixCandidates}">
                <div class="task-container">
                    <app-task-board class="analogies-board" [guessTheAssociationsTask]="geussTheAssociationsTask" [enablePointer]="false"
                                    [testMode]="true" [submit]="_submit" [mturkMode]="!solveCreate"
                                    [info]="'Five images are presented below. \n A cue word and number of associated images are given. \n                     Choose the images that best associates with the cue word.'">
                    </app-task-board>
                    <div class="test-me-container" [ngClass]="{'test-me-container-six': isSixCandidates}">
                        <button class="btn btn-neutral btn-big" [ngClass]="{'submitted': _submit}"
                                (click)="submit()">{{ 'Submit' }}</button>
                    </div>
                    <div class="label hint" [ngClass]="{'no-clue': hint === ''}">
                        {{hint}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Lampent</a>
            </div>
        </div>
    </footer>
</div>


