.personal-details-form {
  max-height: 555px !important;
  overflow-y: scroll;
}

.mat-form-field {
  width: 100% !important;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  color: black;
  font-size: 16px;
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  .instructions-form {
    width: 300px !important;
  }

  .personal-details-form {
    top: 50% !important;
  }
}

.fa-circle-xmark {
  position: absolute;
  right: 0;
  font-size: 18px;
  margin-top: -5px;
  color: #000000b8;
  cursor: pointer;
}

:host ::ng-deep .mat-form-field-flex {
  background-color: #f0f0f0 !important;
}

@media (max-width: 540px) {
  ::ng-deep .mat-select-panel {
    width: 300px !important;
    min-width: 300px !important;;
  }

  ::ng-deep .cdk-overlay-pane {
    transform: translateX(-42px) translateY(-55px) !important;
  }

}

.main-label {
  font-weight: 600;
}

.input-label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fill-container ::ng-deep textarea {
  height: 120px;
}

h1 {
  padding-top: 5px;
  padding-bottom: 12px;
}

.login-button-container {
  padding-bottom: 10px;
}

.instructions-form {
  width: 474px;
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.yahoo-btn {
  cursor: pointer;
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}


.google-btn {
  margin-bottom: 12px;
  cursor: pointer;
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

.hint {
  text-align: center;
  width: 100%;
  color: red;
  font-size: 11px;
  padding-top: 14px;
}


.btn-neutral {
  background: #fab1b45c !important;
  color: #222a42 !important;
}

input {
  padding-left: 8px;
  background-color: transparent !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);


.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


::ng-deep .mat-checkbox-inner-container {
  margin-right: 5px !important;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fda6ac;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
