<canvas id="confetti" [ngStyle]="{position: 'absolute', 'pointer-events': 'none'}"></canvas>
<h3 style="text-transform: none;">{{title}}</h3>
<div class="analogy-container">
    <div class="cue-line-container">
        <div class="fas-container">
            <img class="dashboard-icon" *ngIf="userDashboard" style="cursor: pointer" src="assets/img/dashboard.png" (click)="showDashboard()">
        </div>
        <div class="right-board-container">
            <div class="board top-board" [style.width]="isGuessAssociationsTask ? '600px' : 'auto'">
                <div class="main-description" *ngIf="showInfo" [innerHTML]="info">
                </div>
                <div class="cue-board">
                    <div class="label board-title"> Cue</div>
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill"
                                        [ngClass]="{'no-underline-mat-field': isGuessAssociationsTask}">
                            <input matInput [formControl]="cueFormControl" [readonly]="true" *ngIf="isGuessAssociationsTask"
                                   autocomplete="off"/>
                            <input matInput [formControl]="cueFormControl" [readonly]="_submit"
                                   *ngIf="!isGuessAssociationsTask" autocomplete="off"/>
                            <mat-error *ngIf="!cueFormControl.valid && cueFormControl.value != ''">
                                Cue should be one word in english
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
                <div class="associations-board" *ngIf="isGuessAssociationsTask">
                    <div class="label board-title"> Associations</div>
                    <div class="bold-text"> {{this._guessAssociationTask.associations}} </div>
                </div>
            </div>
        </div>
        <div class="fas-container">
            <i class="fas fa-info-circle" aria-hidden="true" *ngIf="info.length" (click)="toggleInfo()"></i>
            <i class="fas fa-sign-out-alt" aria-hidden="true" *ngIf="userDashboard" (click)="logout()"></i>
        </div>
    </div>
    <div class="AI-response-label-container"
         [style]="{'visibility': (!_submit || isGuessAssociationsTask || !AIRequest) ? 'hidden' : 'visible'}">
        <!--        *ngIf="_giveCueTask && (_giveCueTask.score | async) !== null"-->
        <div class="AI-response-label">AI Response <img src="assets/robot-head/robot-head.png"></div>
    </div>
    <div class="left-board-container">
        <div class="board left-board">
            <!--            <div class="label board-title"> Cue: </div>-->
            <div class="images-board">
                <div [ngClass]="{'analogy-image-container': !isSixCandidates, 'analogy-image-container-six': isSixCandidates , 'analogy-image-container-twelve': isTwelveCandidates}" *ngFor="let candidate of _candidates"
                     (click)="selectCandidate(candidate)">
                    <img src="{{candidate.img}}" [ngClass]="{'candidate-selected': candidate.userChoice, 'AI-selected': candidate.answer && !isGuessAssociationsTask,
                     'alerts-border': candidate.userChoice && !candidate.answer && !isGuessAssociationsTask && _giveCueTask.receivedAIResponse[_cueIndex]}">
                    <i [style.color]="(candidate.userChoice && candidate.userChoice !== candidate.answer) ? 'red' : 'transparent'"
                       class="fas fa-times"
                       *ngIf="(!disableSolutionIcons && (testMode ? _submit : true)) && isGuessAssociationsTask && (candidate.userChoice !== candidate.answer) "></i>
                    <i [style.color]="(candidate.answer && candidate.userChoice !== candidate.answer) ? 'red' : 'transparent'"
                       class="fas fa-times"
                       *ngIf="(!disableSolutionIcons && (testMode ? _submit : true)) && (!isGuessAssociationsTask && _giveCueTask.receivedAIResponse[_cueIndex]) && (candidate.userChoice !== candidate.answer) "></i>
                    <i [style.color]="(candidate.userChoice && candidate.userChoice === candidate.answer) ? 'green' : 'transparent'"
                       class="fas fa-check"
                       *ngIf="(!disableSolutionIcons && (testMode ? _submit : true)) && isGuessAssociationsTask && (candidate.userChoice === candidate.answer)"></i>
                    <i [style.color]="(candidate.answer && candidate.userChoice === candidate.answer) ? 'green' : 'transparent'"
                       class="fas fa-check"
                       *ngIf="(!disableSolutionIcons && (testMode ? _submit : true)) && (!isGuessAssociationsTask && _giveCueTask.receivedAIResponse[_cueIndex]) && (candidate.userChoice === candidate.answer)"></i>
                </div>
                <div class="pointer-container" *ngIf="noSelection && enablePointer">
                    <div style="position:relative; width: 110px;">
                        <span class="moving-pointer">  👉 </span>
<!--                        <i class="fa-solid fa-hand-point-left moving-pointer fa-flip-horizontal"></i>-->
                    </div>
                    <div class="pointer-label">
                        Choose here!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

