<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container center-container">
            <div class="content-center brand">
                <img class="back-arrow-image" src="assets/img/backarrow.png" (click)="backarrow$.emit()">
                <h3 class="main-label">
                    My Statistics <img style="width: 4rem" src="assets/img/dashboard.png">
                </h3>
<!--                <div id="dashboard" width="400" height="400"></div>-->
                <div class="card">
                    <div class="card">
                        <p-chart type="horizontalBar" [data]="basicData" [options]="horizontalOptions"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


